version: '3.8'

services:
  database:
    image: postgres:18
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=matteo0201@
      - POSTGRES_DB=crudTarefa
      - PGDATA=var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: backend_api
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - database
    environment:
      - DATABASE_URL=postgresql://postgres:matteo0201%40@database:5432/crudTarefa?schema=public

volumes:
  postgres_data: